<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

    <title></title>

    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $.getJSON('/input/', function (result) {
                    //var result=JSON.parse(result1)
                    $.each(result, function (i, field) {
                        //console.log(field)
                        $("div").append(field + " ");
                    //$("div").append(result1[0].id);
                    });
                });
            });
        });
    </script>
    </head>
<body>
    <button>Get JSON data</button>

    <div></div>
</body>
</html>